<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/stylesMenu.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>
    <div class="TitleMenu"><h1>SISTEMA LIBRERIA</h1></div>
    <div class="services container" style="margin-top: 20px;">
        <div class="row" style="margin-left: 15%;" >
            
                <div class="col-md-3 service" id="divOption" >
                    <a href="../agregar">
                        <i class="bi bi-file"></i>
                        <h5>Clientes</h5>
                    </a>
                    
            </div>
            
                <div class="col-md-3 service" id="divOption" >
                    <a href="../index">
                        <i class="bi bi-bookmark"></i>
                        <h5>Agregar clientes</h5>
                    </a>
                    
                </div>
            
            
            <div class="col-md-3 service" id="divOption">
                <a href="../vistaLibros">
                    <i class="bi bi-journals"></i>
                    <h5>Libros</h5>
                </a>
            </div>

            <div class="col-md-3 service" id="divOption" >
                <a href="../registroLibro">
                    <i class="bi bi-journal-plus"></i>
                    <h5>Agregar Libro</h5>
                </a>
            </div>

            <div class="col-md-3 service" id="divOption" >
                <a href="../autores">
                    <i class="bi bi-journal-plus"></i>
                    <h5>Autores</h5>
                </a>
            </div>

            <div class="col-md-3 service" id="divOption" >
                <a href="../form_autor">
                    <i class="bi bi-journal-plus"></i>
                    <h5>Agregar Autor</h5>
                </a>
            </div>
            
        </div>
    </div>
    
</body>
</html>